<style media="screen">
    form{
        display: inline-block;
        margin: 10px;
        padding: 15px;
        border: 1px solid black;
        vertical-align: top;
    }
</style>
<h1>Welcome!</h1>
<br>
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p><%= error %></p>
    <% end %>
<% end %>
<form action="/users/create" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>First Name: <input type="text" name="user[first]"></p>
    <p>Last Name: <input type="text" name="user[last]"></p>
    <p>Email: <input type="email" name="user[email]"></p>
    <p>Password: <input type="password" name="user[password]"></p>
    <p>Confirm Password: <input type="password" name="user[password_confirmation]"></p>
    <input type="submit" value="Register">
</form>
<form action="/sessions/create" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>Email: <input type="text" name="user[email]"></p>
    <p>Password: <input type="password" name="user[password]"></p>
    <input type="submit" name="Login">
</form>
